name: "CI"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:

  dep:
    name: "Dependencies"
    runs-on: ubuntu-latest
    steps:
      - name: "Git: checkout"
        uses: actions/checkout@v4
      - name: "PHP: setup 8.3 "
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          tools: composer
      - name: "Composer: cache config"
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: "Composer: cache restore"
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: "Composer: validate"
        run: composer validate --strict
      - name: "Composer: install"
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: "Composer: audit"
        run: composer audit

  cs:
    name: "Code style"
    runs-on: ubuntu-latest
    steps:
      - name: "Git: checkout"
        uses: actions/checkout@v4
      - name: "PHP: setup 8.3"
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          tools: php-cs-fixer
      - name: "Php-CS-Fixer: version"
        run: php-cs-fixer -V
      - name: "Php-CS-Fixer: check"
        run: php-cs-fixer check --diff

  sa:
    name: "Static Analysis"
    runs-on: ubuntu-latest
    steps:
      - name: "Git: checkout"
        uses: actions/checkout@v4
      - name: "PHP: setup ${{ matrix.php-version }}"
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          tools: phpstan
      - name: "Composer: cache config"
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: "Composer: cache restore"
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: "Composer: validate"
        run: composer validate --strict
      - name: "Composer: install"
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: "PHPStan: version"
        run: phpstan --version
      - name: "PHPStan: analyse"
        run: phpstan analyse src/

  tests:
    name: "Tests (PHP ${{ matrix.php-version }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - '8.3'
      fail-fast: false
    steps:
      - name: "Git: Checkout"
        uses: actions/checkout@v4
      - name: "PHP: setup ${{ matrix.php-version }}"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none
      - name: "PHP: php matcher"
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
      - name: "Composer: cache config"
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: "Composer: cache restore"
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: "Composer: validate"
        run: composer validate --strict
      - name: "Composer: install"
        run: composer install --prefer-dist --no-progress --no-suggest
      - name: "PHPUnit: version"
        run: ./vendor/bin/phpunit --version
      - name: "PHPUnit: tests"
        run: ./vendor/bin/phpunit
